
<div class = "container">
  <div class = "hero-unit" style="margin-top:-20px;margin-left:1.5in;width:5in;background-color:#fff"" >
  <h2 > Dosya Yükle <h2><br/>
  <div class="alert alert-information" style = "font-size:18px;">
		<%= flash[:informaiton] = "Dosya Boyutu En Fazla 8MB Olmalıdır ! " %><br/>
  </div>
	<%= form_for @upload, :html => { :multipart => true } do |f| %>
		<% if @upload.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@upload.errors.count, "HATA") %> OLUŞTU !</h2>

		  <ul>
		
			<li><%=@upload.errors.first[1] %></li>
		 
		  </ul>
		</div>
	  <% end %>

	  <div class="field">
		<%= f.file_field :attach %><br/><br/>
	  </div>
	  
	  <div class="field" >
		<h4> Açıklama </h4>
		<%= f.text_area :content ,style: "width:5in;height:100px;"%>
	  </div>
	  
	  <div class="actions">
		<%= f.submit "Dosya Yükle" , :class => 'btn  btn-success' %>
	  </div>
	  
	  
	  
	<% end %>
  </div>
  
</div>
