<% @eyt = Lesson.where('eyt IS NOT NULL').select(:eyt).map { |d| d.eyt }  %>
<% @sky = Lesson.where('sky IS NOT NULL').select(:sky).map { |d| d.sky }  %>
<% @tg  = Lesson.where('tg IS NOT NULL').select(:tg).map { |d| d.tg }  %>
<% @ebh = Lesson.where('ebh IS NOT NULL').select(:ebh).map { |d| d.ebh }  %>
<% @elt = Lesson.where('elt IS NOT NULL').select(:elt).map { |d| d.elt }  %>
<% @ilt = Lesson.where('ilt IS NOT NULL').select(:ilt).map { |d| d.ilt }  %>

<% @u_eyt = Unite.where('u_eyt IS NOT NULL').select(:u_eyt).map { |d| d.u_eyt }  %>
<% @u_sky = Unite.where('u_sky IS NOT NULL').select(:u_sky).map { |d| d.u_sky }  %>
<% @u_tg  = Unite.where('u_tg IS NOT NULL').select(:u_tg).map { |d| d.u_tg }  %>
<% @u_ebh = Unite.where('u_ebh IS NOT NULL').select(:u_ebh).map { |d| d.u_ebh }  %>
<% @u_elt = Unite.where('u_elt IS NOT NULL').select(:u_elt).map { |d| d.u_elt }  %>
<% @u_ilt = Unite.where('u_ilt IS NOT NULL').select(:u_ilt).map { |d| d.u_ilt }  %>

<div class = "container">
  <div class = "hero-unit" style="margin-top:-20px;margin-left:1.3in;width:5in;background-color:#fff"" >
  <h2 > Dosya Yükle <h2><br/>
  
  <div class="alert alert-information" style = "font-size:18px;">
		<%= flash[:informaiton] = "Dosya Boyutu En Fazla 8MB Olmalıdır ! " %><br/>
  </div>
	<%= form_for @upload, :html => { :multipart => true } do |f| %>

		<% if @upload.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@upload.errors.count, "HATA") %> OLUŞTU !</h2>

		  <ul>
		
			<li><%=@upload.errors.first[1] %></li>
		 
		  </ul>
		</div>
	  <% end %>

	  <div class="field">
		<%= f.file_field :attach %><br/><br/>
	  </div>
	  
	  <div class="field" id="bolum">
		<h4> Bölümler(*) </h4>
			<% @parts = {'Bölüm Seçiniz' => 0, 'Eğitim Yönetimi ve Teftişi' => 1,'Sağlık Kurumları Yönetimi' => 2,'Taşınmaz Geliştirme' => 3,'Evde Bakım Hemşireliği' => 4,'Ebelik Lisans Tamamlama' => 5,'İlahiyat Lisans Tamamlama' => 6} %>
			<%= f.select :part , options_for_select(@parts.keys),{},\
			 :onclick => "if( this.options[selectedIndex].text == 'Eğitim Yönetimi ve Teftişi' ) {lesson1()} 
			 else if( this.options[selectedIndex].text == 'Sağlık Kurumları Yönetimi' ) {lesson2()}
			 else if (this.options[selectedIndex].text == 'Taşınmaz Geliştirme'){lesson3()} 
			 else if (this.options[selectedIndex].text == 'Evde Bakım Hemşireliği') {lesson4()}
			 else if (this.options[selectedIndex].text == 'Ebelik Lisans Tamamlama') {lesson5()}
			 else if (this.options[selectedIndex].text == 'İlahiyat Lisans Tamamlama') {lesson6()}" %>
	  </div>
	  
	  <div class="field" id="ders" style="float:right;margin-top:-93px" >
			<script type="text/javascript">
			
			  function lesson1() {  
				 $('#ders').html('<h4> Dersler(*) </h4><%= escape_javascript(f.select :lesson, options_for_select(@eyt),:include_blank => "Ders Seçiniz") %>');
				 $('#unite').html('<h4> Üniteler(*) </h4><%= escape_javascript(f.select :unite , options_for_select(@u_eyt),:include_blank => "Ünite Seçiniz") %>');}
				 
			  function lesson2() {  
				 $('#ders').html('<h4> Dersler(*) </h4><%= escape_javascript(f.select :lesson , options_for_select(@sky),:include_blank => "Ders Seçiniz") %>');
				 $('#unite').html('<h4> Üniteler(*) </h4><%= escape_javascript(f.select :unite , options_for_select(@u_sky),:include_blank => "Ünite Seçiniz") %>');}
				 
			  function lesson3() {  
				 $('#ders').html('<h4> Dersler(*) </h4><%= escape_javascript(f.select :lesson , options_for_select(@tg),:include_blank => "Ders Seçiniz") %>');
				 $('#unite').html('<h4> Üniteler(*) </h4><%= escape_javascript(f.select :unite , options_for_select(@u_tg),:include_blank => "Ünite Seçiniz") %>');}
				 
			  function lesson4() {  
				 $('#ders').html('<h4> Dersler(*) </h4><%= escape_javascript(f.select :lesson , options_for_select(@ebh),:include_blank => "Ders Seçiniz") %>');
				 $('#unite').html('<h4> Üniteler(*) </h4><%= escape_javascript(f.select :unite , options_for_select(@u_ebh),:include_blank => "Ünite Seçiniz") %>');}
				 
			  function lesson5() {  
				 $('#ders').html('<h4> Dersler(*) </h4><%= escape_javascript(f.select :lesson , options_for_select(@elt),:include_blank => "Ders Seçiniz") %>');
				 $('#unite').html('<h4> Üniteler(*) </h4><%= escape_javascript(f.select :unite , options_for_select(@u_elt),:include_blank => "Ünite Seçiniz") %>');}
				 
			  function lesson6() {  
				 $('#ders').html('<h4> Dersler(*) </h4><%= escape_javascript(f.select :lesson , options_for_select(@ilt),:include_blank => "Ders Seçiniz") %>');
				 $('#unite').html('<h4> Üniteler(*) </h4><%= escape_javascript(f.select :unite , options_for_select(@u_ilt),:include_blank => "Ünite Seçiniz") %>');}
				 
			</script>
	  </div>
	  
	  <div class="field" id="unite" style="float:left;margin-top:-93px;margin-left:5.3in;" >
	  
	  </div>
	  
	  <div class="actions">
		<%= f.submit "Dosya Yükle" , :class => 'btn  btn-success' %>
	  </div>
	  
	  
	  
	<% end %>
  </div>
  
</div>
