<div class="hero-unit" style = "background-color:#fff">


<table class="table table-striped display">
	<thead>
		<tr>
			<th>Öğretim Üyesi</th>
			<th>Dosya Adı</th>
			<th>Boyutu</th>
			<th>Bölüm Adı</th>
			<th>Ders Adı</th>
			<th>Ünite Adı</th>
			<th>Tarih</th>
		 </tr>

<% @uploads.each do |upload| %>
  <tr>
    <td><%=upload.username%></td>
    <td><%= upload.attach_file_name %></td>
    <td><%= ((upload.attach_file_size).to_f / (1048576)).round(3) %>MB</td>
    <td><%= upload.part %></td>
    <td><%= upload.lesson %></td>
    <td><%= upload.unite %></td>
    <td><%= upload.attach_updated_at.try( :strftime, "%d/%m/%Y ") %></td>
    <td><%= link_to 'Sil', upload, method: :delete, data: { confirm: 'Are you sure?' },:class => 'btn  btn-danger',:style=>"color:#fff;width:30px;" %></td>
    <td><%= link_to 'İndir', {:action => :download, :id => upload.id},:class => 'btn  btn-info',:style=>"color:#fff;width:30px;" %></td>
  </tr>
<% end %>
</table>




