<div class="hero-unit" style = "background-color:#fff">

	<% if flash[:success] %>
	  <div class="alert alert-success" style= "width:3in;margin-top:-50px;margin-left:4in;">
		<%= flash[:success] %>
	  </div>
	<% end %>
<table class="table table-striped display">
	<thead>
		<tr>
			<th>Öğretim Üyesi</th>
			<th>Dosya Adı</th>
			<th>Dosya Boyutu</th>
			<th>Açıklama</th>
			<th>Yükleme Tarihi</th>
		 </tr>

<% @uploads.each do |upload| %>
  <tr>
    <td><%=upload.username%></td>
    <td><%= upload.attach_file_name %></td>
    <td><%= ((upload.attach_file_size).to_f / (1048576)).round(4) %>MB</td>
    <td><%= truncate(upload.content, :length => 30, :omission => '... (devamı var)') %></td>
    <td><%= upload.attach_updated_at.try( :strftime, "%d/%m/%Y ") %></td>
    <td><%= link_to 'Sil',upload, :method => :delete, data: { confirm: 'Are you sure?' },:class => 'btn  btn-danger',:style=>"color:#fff;width:30px;" %></td>
    <td><%= link_to 'İndir', {:action => :download, :id => upload.id},:class => 'btn  btn-info',:style=>"color:#fff;width:30px;" %></td>
  </tr>
<% end %>

</table>
<%= link_to 'Yeni Ekle', new_upload_path,:class => 'btn btn-large btn-success',:style =>"color:#fff;width:150px;margin-left:5in;" %><br/><br/>
</div>

